<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Tech Blog</title>

</head>
<body>
    <header class="nav-header">
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            {{#if loggedIn}}
            <li><button id="logout" class="logout-btn">Logout</button></li>
            {{else}}
            <li><a href="/login">Login</a></li>
            {{/if}}

        </ul>
    </nav>
    {{#if isDashboardPage}}
        <h1>Your Dashboard</h1>
    {{else}}
        <h1>The Tech Blog</h1>
    {{/if}}
    </header>
    
    <div class="content">
        {{{body}}}
    </div>
</body>
</html>

<script src="/js/logout.js"></script>