<article class="post-form">
    <header class="card-header">
    </header>
    <form id="update-form" data-post-id="{{post.id}}" class="comment-form" method="POST">
        {{!-- <input type="hidden" id="post-id" name="_method" value="PUT"> --}}
        <h6>Update Post</h6>
        <label for="update-title">Title</label>
        <input type="text" name="update-title" id="update-title" value="{{post.title}}" />
        <label for="post-content">Content</label>
        <textarea name="update-content" id="update-content" cols="30" rows="2">{{post.content}}</textarea>
        <div class="form-group">
        <button class="btn btn-primary" type="submit">Update</button>
      </div>
    </form>
        <a id="deleteBtn" class="delete-btn" href="" data-post-id="{{post.id}}">Delete</a>
  </article>

  <script src="/js/update.js"></script>