
    {{#each posts}}
    <a href="/userPosts/{{id}}" class="dashboard-post">
        <h5>{{title}}</h5>
        <p>{{format_date createdAt}}</p>
    </a>
    {{/each}}
    <a class="dashboard-btn" href="/api/userPosts">+ New Post</a>


