{{#each posts}}
<article class="post-card">
  <header class="card-header">
    <h5>{{title}}</h5>
    <p>Posted by {{user.username}} on {{format_date createdAt}}</p>
  </header>
  {{content}}
</article>
{{/each}}