:root {
  --primary: #009165 !important;
  --secondary: #86938f !important;
  --light: #e3e4e3 !important;
  --dark: #1a1a1a !important;
  --background: #6cca8f !important;
  --primary-hover: #00b47e !important;
}

body {
  font-family: Arial;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background-color: var(--background);
}
h1 {
  color: var(--dark);
}
article {
  background-color: var(--light);
}
label {
  color: var(--dark) !important;
}
input {
  background-color: var(--light) !important;
  color: var(--dark) !important;
}
textarea {
  background-color: var(--light) !important;
  color: var(--dark) !important;
}
.content {
  padding: 0.5rem 3rem;
}
.nav-header {
  background-color: var(--secondary);
  color: var(--light);
  padding: 0.5rem 1rem 0.5rem 3rem;
}
.nav-header h1 {
  display: inline-block;
  margin: 0 0 1rem 1rem;
  background-color: var(--light);
  padding: 0.1rem 1rem;
  border-radius: 10px;
  box-shadow: 5px 10px #6b6b6b;
}
nav {
  background-color: var(--secondary);
  color: var(--light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem;
}
nav li {
  margin-left: 1rem;
  margin-right: 1rem;
}
nav a {
  color: var(--light);
  font-size: x-large;
}
nav a:hover {
  color: var(--primary);
  text-decoration: none;
}
.post-card {
  margin-bottom: 0.25rem;
  background-color: var(--light);
}
.post-card-link {
  text-decoration: none;
  color: var(--dark);
}
.card-header {
  background-color: var(--secondary);
  color: var(--dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.card-header h5,
.card-header p,
.card-header h6 {
  color: var(--light);
  margin: 0;
}

.login-card {
  margin: 0 0 20px 0;
  padding: 5px;
  border: 3px solid var(--light);
  border-radius: var(--light);
  border-style: double;
  border-width: thick;
  background-color: var(--light);
  color: var(--light);
}
.login-card a {
  color: blue;
}

.logout-btn {
  background-color: transparent;
  border: none;
  color: var(--light);
  font-size: x-large;
}

.logout-btn:hover {
  color: var(--primary);
  text-decoration: none;
}

.comment-card {
  margin: 0.25rem;
  padding: 10px;
  background-color: var(--light);
  color: var(--light);
}
.comment-card p,
.comment-card h6 {
  color: var(--dark);
  margin: 0;
  padding: 0;
}
.dashboard-post {
  margin: 1rem 0;
  background-color: var(--secondary);
  color: var(--light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  text-decoration: none;
}
.dashboard-post:hover {
  text-decoration: none;
  background-color: var(--dark);
}
.dashboard-post h5,
.dashboard-post p {
  color: var(--light);
  margin: 0;
}
a h5,
a p {
  color: var(--light);
  text-decoration: none;
}

.dashboard-btn {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  background-color: var(--primary);
  color: var(--light);
  border: none;
}
.dashboard-btn:hover {
  cursor: pointer;
  background-color: var(--primary-hover);
  color: var(--light);
  text-decoration: none;
}
.delete-btn {
  background-color: rgb(211, 0, 0) !important;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0.8rem;
  border-radius: 5px;
  background-color: var(--primary);
  color: var(--light);
  border: none;
}
.delete-btn:hover {
  cursor: pointer;
  background-color: #ff0000 !important;
  color: var(--light);
  text-decoration: none;
}
/* media query for small screens */
@media screen and (max-width: 600px) {
  .nav-header {
    padding: 0.25rem 0.25rem 0.25rem 0.5rem;
  }
  nav a {
    font-size: medium;
  }
  nav li {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }
}
